a {
  font-size: 14px;
  color: #393f81;
}

body {
  background-image: url('../img/freestocks-0-HAIyTj7Xw-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.responsive-login-form {
  width: 50%;
}

@media (max-width: 768px) {
  .responsive-login-form {
    width: 100%!important;
  }
}

.responsive-form {
  width: 60%;
}
@media screen and (max-width: 992px) {
  .responsive-form { width:100%; }
}



